@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #f7f7f5; /* putih kertas */
  color: #0f172a; /* slate-900 */
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}
